body {
	margin: 10px auto;
	max-width: 800px;
	width: 80%;
	border: 20px solid #bdc3c7;
	padding: 20px;
	font-family: 'Source Sans Pro', sans-serif;
}

.post {
	border-bottom: 1px solid rgba(0,0,0,.1);
	margin-bottom: 20px;
}

.quote {
	padding: 5px;
	border-left: solid 5px rgba(0,0,0,.1)
}

.date {
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}





